/* #main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;

} */

/* .begin {
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
} */

/* #timer {
    font-size: xx-large;
} */

/* .word{
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
} */

/* .hint {
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: x-large;
} */

/* #start {
    color: black;
    font-size: x-large;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: red;
    height: 50px;
    width: 100%;
} */

/* #hint-btn {
    color: black;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: red;
    height: 50px;
    width: 100%;
} */

#wrong-letters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.char {
    /* this is the class for the letter buttons */
    color: white;
    background-color: black;
    border: none;
    margin: 2px;
    border-radius: 3px;
    height: 40px;
    width: 40px;
}

.underline {
    display: inline-block;
    margin-right: 5px;
    border-bottom: 2px solid white;
    min-width: 20px;
}

.hidden {
    color: transparent;
}

@font-face {
    font-family: 'EVA_____';
    src: url('../fonts/EVA_____.woff') format('woff'),
         url('../fonts/EVA_____.woff2') format('woff2'),
         url('../fonts/EVA_____.TTF') format('truetype');
  }

body {
    background-color: #171718;
    color: white;
    font-family: 'EVA_____', sans-serif;
    margin: 10px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#header {
    font-size: xx-large;
}

@media screen and (max-width: 900px) {
    #header {
        font-size: larger;
    }
}

@media screen and (max-width: 600px) {
    #header {
        font-size: medium;
    }
}